/**
 * Defines the design of the main window.
 */
 
.root{
  	display: block;
  -fx-background-color: #292929;
  -fx-text-fill: #FFFFFF;
  -fx-border-color: #292929;
  -fx-box-border: #292929;
}

/**
 * Defines the design of the buttons.
 */
.button{
  -fx-text-fill: #FFFFFF;
  -fx-font-family: Helvetica, Arial, Geneva, sans-serif;
  -fx-font-weight: bold;
  -fx-font-size: 14px;
  -fx-background-color: linear-gradient(#61a2b1, #2A5058);
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.button:hover{
  -fx-background-color: linear-gradient(#2A5058,#61a2b1);
}

/**
 * Defines the design of the toggle-buttons.
 */
.toggle-button{
  -fx-text-fill: #FFFFFF;
  -fx-font-family: Helvetica, Arial, Geneva, sans-serif;
  -fx-font-weight: bold;
  -fx-font-size: 14px;
  -fx-background-color: linear-gradient(#61a2b1, #2A5058);
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.toggle-button:selected{
  -fx-text-fill: #2A5058;
  -fx-background-color: linear-gradient(#FFFFFF,#61a2b1);
}

/**
 * Defines the design of the combobox.
 */
.combo-box {
  -fx-text-fill: #FFFFFF;
  -fx-font-family: Helvetica, Arial, Geneva, sans-serif;
  -fx-font-weight: bold;
  -fx-font-size: 16px;
  -fx-background-color: linear-gradient(#61a2b1, #2A5058);
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.list-cell{
  -fx-text-fill: #FFFFFF;
  -fx-font-family: Helvetica, Arial, Geneva, sans-serif;
  -fx-font-weight: bold;
  -fx-font-size: 14px;
  -fx-background-color: linear-gradient(#61a2b1, #2A5058);
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.combo-box-popup .list-cell:filled:hover{
	-fx-background-color: linear-gradient(#2A5058,#61a2b1);
}

/**
 * Defines the design of the toolbar.
 */
.toolmenu{
	-fx-background-color: #424242;
	-fx-border-color: #292929;
}

/**
 * Defines the design of the menubar.
 */
.context-menu{
	-fx-background-color: #424242;
	-fx-border-color: #292929;
}

/**
 * Menu item's label (not hovered / focused)
 */
.menu-item .label{
	-fx-text-fill: #FFFFFF;
}

/**
 * Top-level menu's label (not selected / hovered)
 */
.menu-bar > .container > .menu-button > .label{
	-fx-text-fill: #FFFFFF;
}

/**
 * Defines the design of the split-pane
 */
.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: #424242;
}

.split-pane:vertical > .split-pane-divider {
    -fx-background-color: #424242;
}

.split-pane{
	-fx-background-color: #292929;
	-fx-border-color: #292929;
	-fx-box-border: #292929;
	-fx-background:#292929;
}
