/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* Defines the design of the main window. */
.root{
   display: block;
  -fx-background-color: #424242;
}

/* Defines the design of the buttons. */
.button{
  -fx-text-fill: white;
  -fx-font-family: Helvetica, Arial, Geneva, sans-serif;
  -fx-font-weight: bold;
  -fx-font-size: 16px;
  -fx-background-color: linear-gradient(#61a2b1, #2A5058);
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.button:hover{
  -fx-background-color: linear-gradient(#2A5058,#61a2b1);
}

.combobox{
  -fx-text-fill: white;
  -fx-font-family: Helvetica, Arial, Geneva, sans-serif;
  -fx-font-weight: bold;
  -fx-font-size: 16px;
  -fx-background-color: linear-gradient(#61a2b1, #2A5058);
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.toolmenu{
	-fx-background-color: grey;
}

.ToggleButton{
	-fx-background-color: white;
}